# Entorno virtual
venv/
.env

# Logs
logs/
*.log

# Archivos de bases de datos locales (si usas SQLite)
*.db

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Carpeta de imágenes grandes (opcional)
data/images/*

# Chromedriver (no subir al repositorio)
chromedriver/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos generados por IDEs
.vscode/
.idea/

# Archivos de configuración de PyCharm
*.iml